@import "tailwindcss";

:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#chatbot {
  font-family: "Space Grotesk", sans-serif;
}

#chatbot div::-webkit-scrollbar {
  width: 4px;
}

#chatbot div::-webkit-scrollbar-track {
  border-radius: 50%;
}

#chatbot div::-webkit-scrollbar-thumb {
  background: #3333335d;
  border-radius: 4px;
  width: 4px;
}

.loader {
  display: block;
  width: 32px;
  aspect-ratio: 4;
  background: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 0%
      50%,
    no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 50% 50%,
    no-repeat radial-gradient(circle closest-side, #fff 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading 0.8s infinite linear;
}

@keyframes loading {
  33% {
    background-size: calc(100% / 3) 0, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0;
  }
}

@theme {
  --color-primary: oklch(0.98 0 0);
  --color-secondary: oklch(0.32 0 0);
  --color-tertiary: oklch(0.61 0 0);
}

.chat {
  width: calc(100% - 40px);
  height: 95vh;
  padding: 21px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 500ms;
  border-radius: 48px;
  bottom: 20px;
  background-color: var(--color-primary);
  box-shadow: 0 0 16px 100px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border: 1px solid #cccccca2;
}

@media (width >= 48rem) {
  .chat {
    width: 400px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.22);
  }
}

/* Classe responsável por abrir o chat para a direita */
.open-chat-from-left {
  left: 0;
  transform: translateX(20px);
}

/* Classe responsável por fechar o chat para a esquerda */
.close-chat-to-left {
  left: 0;
  transform: translateX(-100%);
}

/* Classe responsável por abrir o chat para a direita */
.open-chat-from-right {
  right: 0;
  transform: translateX(-20px);
}

/* Classe responsável por fechar o chat para a esquerda */
.close-chat-to-right {
  right: 0;
  transform: translateX(100%);
}

/* Classe responsável por abrir o chat do canto inferior direito */
.open-chat-from-bottom-right {
  right: 20px;
  scale: 100%;
  transform-origin: bottom right;
}

/* Classe responsável por fechar o chat do canto inferior esquerdo  */
.close-chat-to-bottom-right {
  right: 20px;
  scale: 0;
  transform-origin: bottom right;
}

/* Classe responsável por abrir o chat do canto inferior direito */
.open-chat-from-bottom-left {
  left: 20px;
  scale: 100%;
  transform-origin: bottom left;
}

/* Classe responsável por fechar o chat do canto inferior esquerdo  */
.close-chat-to-bottom-left {
  left: 20px;
  scale: 0;
  transform-origin: bottom left;
}

@media (width < 48rem) {
  .mobile-open-chat-to-bottom {
    transform: translate(0, 0);
    right: 20px;
    opacity: 1;
  }

  .mobile-close-chat-to-bottom {
    transform: translate(0, 0);
    right: 20px;
    left: 20px;
    opacity: 0;
    pointer-events: none;
  }
}

.button-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.faded-word {
  animation-name: fadeWord;
  animation-timing-function: ease-in-out;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-duration: 0.2s;
  color: transparent;
}

@keyframes fadeWord {
  from {
    color: transparent;
    width: 20px;
  }

  to {
    color: var(--color-primary);
    width: fit-content;
  }
}
